
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd" >

	<bean id="scanServlet"  class="org.eclipse.scanning.server.servlet.ScanServlet" init-method="connect">

        <property name="broker"      value="${org.eclipse.scanning.broker.uri}" />
	    <property name="submitQueue" value="org.eclipse.scanning.submission.queue" />
	    <property name="statusSet"   value="org.eclipse.scanning.status.set"   />
	    <property name="statusTopic" value="org.eclipse.scanning.status.topic" />
	    <property name="durable"     value="true" />
	</bean>

    <bean id="deviceServlet" class="org.eclipse.scanning.server.servlet.DeviceServlet" init-method="connect">
       <property name="broker"          value="${org.eclipse.scanning.broker.uri}" />
       <property name="requestTopic"    value="org.eclipse.scanning.request.device.topic" />
       <property name="responseTopic"   value="org.eclipse.scanning.response.device.topic"   />
    </bean>
    
    <bean id="positionerServlet" class="org.eclipse.scanning.server.servlet.PositionerServlet" init-method="connect">
       <property name="broker"          value="${org.eclipse.scanning.broker.uri}" />
       <property name="requestTopic"    value="org.eclipse.scanning.request.positioner.topic" />
       <property name="responseTopic"   value="org.eclipse.scanning.response.positioner.topic"   />
    </bean>
    
    <bean id="dataServer" class="org.eclipse.dawnsci.remotedataset.server.DataServer" init-method="start">
        <property name="port"     value="8690" />
        <property name="bundle"   value="org.eclipse.dawnsci.remotedataset.server" />
    </bean>

	<!--  Testing/example only section config do not copy to production. -->

	<!--  Something to respond to xcen runs if they use the example xcen perspective -->
	<bean id="xcenServlet"  class="org.eclipse.scanning.example.xcen.consumer.XcenServlet" init-method="connect">

        <property name="bundle"      value="org.eclipse.scanning.example.xcen"/>
        <property name="broker"      value="${org.eclipse.scanning.broker.uri}" />
	    <property name="submitQueue" value="dataacq.xcen.SUBMISSION_QUEUE" />
	    <property name="statusSet"   value="dataacq.xcen.STATUS_QUEUE"   />
	    <property name="statusTopic" value="dataacq.xcen.STATUS_TOPIC" />
	    <property name="durable"     value="true" />
	</bean>
	
	<!--  End testing/example only-->

</beans>