<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.eclipse.scanning.server"
         name="Data Acqusition - Example Scanning Server"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="*"
            thread="any"
            visible="true">
         <run
               class="org.eclipse.scanning.server.application.Application">
            <parameter
                  name="optimize"
                  value="true">
            </parameter>
         </run>
      </application>
   </extension>

</plugin>
