<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scanning.api.device">
      <device
            class="org.eclipse.scanning.example.detector.MandelbrotDetector"
            description="Device which computes and mandelbrot set and images it."
            icon="icons/mandelbrot.png"
            id="org.eclipse.scanning.example.detector.mandelbrotDetector"
            label="Mandelbrot Example"
            model="org.eclipse.scanning.example.detector.MandelbrotModel"
            name="mandelbrot">
      </device>
      <device
            id="org.eclipse.scanning.example.detector.constantVelocityDevice"
            class="org.eclipse.scanning.example.detector.ConstantVelocityDevice"
            model="org.eclipse.scanning.example.detector.ConstantVelocityModel">
      </device>
      <device
            class="org.eclipse.scanning.example.detector.DarkImageDetector"
            description="A device which writes periodically to record dark current"
            icon="icons/darkcurrent.png"
            id="org.eclipse.scanning.example.detector.darkImageDetector"
            label="Dark Current Example"
            model="org.eclipse.scanning.example.detector.DarkImageModel">
      </device>
   </extension>

</plugin>
