<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scanning.api.device">
      <device
            id="org.eclipse.scanning.example.detector.mandelbrotDetector"
            class="org.eclipse.scanning.example.detector.MandelbrotDetector"
            model="org.eclipse.scanning.example.detector.MandelbrotModel">
      </device>
      <device
            id="org.eclipse.scanning.example.detector.constantVelocityDevice"
            class="org.eclipse.scanning.example.detector.ConstantVelocityDevice"
            model="org.eclipse.scanning.example.detector.ConstantVelocityModel">
      </device>
      <device
            id="org.eclipse.scanning.example.detector.darkImageDetector"
            class="org.eclipse.scanning.example.detector.DarkImageDetector"
            model="org.eclipse.scanning.example.detector.DarkImageModel">
      </device>
   </extension>
   <extension
         point="org.eclipse.scanning.api.preprocessor">
      <preprocessor
            class="org.eclipse.scanning.example.preprocess.ExamplePreprocessor"
            description="This preprocessor inserts the sample stage names xfred and yfred into models."
            name="example">
      </preprocessor>
   </extension>

</plugin>
