<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scanning.api.generator">
      <generator
            class="org.eclipse.scanning.test.points.TestGenerator"
            model="org.eclipse.scanning.test.points.TestGeneratorModel">
      </generator>
   </extension>
   <extension
         point="org.eclipse.scanning.api.device">
      <detector
            class="org.eclipse.scanning.test.scan.mock.MockWritingMandelbrotDetector"
            model="org.eclipse.scanning.test.scan.mock.MockWritingMandlebrotModel">
      </detector>
   </extension>
   <extension
         point="org.eclipse.scanning.api.device">
      <device
            class="org.eclipse.scanning.test.scan.mock.MockWritableDetector"
            model="org.eclipse.scanning.test.scan.mock.MockDetectorModel">
      </device>
      <device
            class="org.eclipse.scanning.test.scan.mock.MockWritingMandelbrotDetector"
            model="org.eclipse.scanning.test.scan.mock.MockWritingMandlebrotModel">
      </device>
   </extension>

</plugin>
