<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.scanning.api.generator">
      <generator
            class="org.eclipse.scanning.test.points.TestGenerator"
            model="org.eclipse.scanning.test.points.TestGeneratorModel">
      </generator>
   </extension>
   <extension
         point="org.eclipse.scanning.api.detector">
      <detector
            class="org.eclipse.scanning.test.scan.mock.MockWritingDetector"
            model="org.eclipse.scanning.test.scan.mock.MockWritingModel">
      </detector>
   </extension>

</plugin>
