language: java

# whitelist
branches:
 only:
  - master
 
jdk:
 - oraclejdk8

before_install:
 - chmod +x ./org.eclipse.scanning.releng/build/commit-msg.sh
 - bash ./org.eclipse.scanning.releng/build/commit-msg.sh
 
# Maven compile
script: mvn compile javadoc:javadoc
