<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.scanning.device.ui"
            name="Scanning">
      </category>
      <view
            category="org.eclipse.scanning.device.ui"
            class="org.eclipse.scanning.device.ui.points.ScanView"
            icon="icons/scanner--pencil.png"
            id="org.eclipse.scanning.device.ui.scanEditor"
            name="Scan Editor"
            restorable="true">
      </view>
      <view
            category="org.eclipse.scanning.device.ui"
            class="org.eclipse.scanning.device.ui.model.ModelView"
            icon="icons/scanner--arrow.png"
            id="org.eclipse.scanning.device.ui.modelEditor"
            name="Model"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.scanning.device.ui"
            class="org.eclipse.scanning.device.ui.device.DetectorView"
            icon="icons/camera.png"
            id="org.eclipse.scanning.device.ui.detectorView"
            name="Detectors"
            restorable="true">
      </view>
      <view
            category="org.eclipse.scanning.device.ui"
            class="org.eclipse.scanning.device.ui.points.ExecuteView"
            icon="icons/scanner--info.png"
            id="org.eclipse.scanning.device.ui.scan.executeView"
            name="Run">
      </view>
      <view
            category="org.eclipse.scanning.device.ui"
            class="org.eclipse.scanning.device.ui.device.ControlView"
            icon="icons/ui-slider-050.png"
            id="org.eclipse.scanning.device.ui.device.ControlView"
            name="Controls">
      </view>
      <view
            category="org.eclipse.scanning.device.ui"
            class="org.eclipse.scanning.device.ui.vis.VisualiseView"
            icon="icons/image.png"
            id="org.eclipse.scanning.device.ui.vis.visualiseView"
            name="Map"
            restorable="true">
      </view>
      <view
            category="org.eclipse.scanning.device.ui"
            class="org.eclipse.scanning.device.ui.points.ScanRegionView"
            icon="icons/ProfileBox.png"
            id="org.eclipse.scanning.device.ui.points.scanRegionView"
            name="Regions"
            restorable="true">
      </view>
      <view
            category="org.eclipse.scanning.device.ui"
            class="org.eclipse.scanning.device.ui.vis.StreamView"
            icon="icons/image.png"
            id="org.eclipse.scanning.device.ui.vis.StreamView"
            name="StreamView"
            restorable="true">
      </view>
   </extension>
    <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.scanning.device.ui.ScanningPerspective"
            icon="icons/scanner.png"
            id="org.eclipse.scanning.device.ui.perspective.scanningPerspective"
            name="Scanning">
      </perspective>
   </extension>
    <extension
          point="org.eclipse.scanning.api.stream">
       <stream
             icon="icons/camera-lens.png"
             id="org.eclipse.scanning.device.ui.simulationStream"
             label="Simulation"
             stream="org.eclipse.scanning.device.ui.vis.SimulationConnection">
       </stream>
    </extension>

</plugin>
